body {
  background-image: url(despicable-me-2-minions-background-1920x1200.jpg);
  background-size: 1740px 1040px;
background-position: right top;
  background-repeat: no-repeat;
  font-family: 'Balsamiq Sans', cursive;
  
 
}
.weather-app {
  position: relative;
  top: 100px;
  
}
h1{
  color:#133A60;
  font-size: 40px;
  font-weight: 100;
  line-height: 28px;
}
.day {
  margin:0 auto;
  padding:20px;
  position: relative;
  left: -20px;
}
#weather-description {
  padding-top: 10px;
}
img{
  max-width: 300px;
  max-height: 300px;
}
#minions {
  position: relative;
  left: -20px;
  top: -30px;
}
.description{
 padding-top: 20px;
}

#wind, #feels-like, #humidity {
  padding-top: 20px;
  position: relative;
  
}
.forecast {
  
}


li {
  list-style: none;
  margin: 0;
  color:#133A60;
  font-size: 25px;
  font-weight: 100;
  line-height: 20px;
}
.weather-app {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  border: 3px solid #133A60;
  border-radius: 8px;
}
 strong, .units {
   position: relative;
   left: 40px;
   color:#133A60;
 }
strong{
  font-size: 110px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 20px;
  top: -50px;
}

footer{
  margin: 0 auto;
  position: relative;
  top: 50px;
  left: -20px;
}